@model SNR_BGC.Models.UserInfoClass;

@{

    Layout = "~/Views/Shared/CodefoxLayout.cshtml";
}

<div class="container-fluid">
    <div class="col-lg-12 mb-4">
        <div class="page-title-box">
            <h3 class="m-0 font-weight-bold text-primary">Sorry, you don't have access to this page.</h3><br />
        </div>
    </div>
</div>
    